.wrapper {
  height: 100vh;
  background-image: url("../../public/Photo-booth.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 50px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.top h1 {
  font-family: "Blue Sky Standard", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.02em;

  color: #ffffff;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom button {
  padding: 14px 50px;
  border: 1px solid #ffffff;
  font-family: "Blue Sky Standard", sans-serif;
  font-style: normal;
  font-weight: 420;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  background-color: transparent;
  color: #ffffff;
}
