.wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.galleryWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.gallary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.vision {
  position: absolute;
  top: 10px;
  z-index: 1;
  font-family: "Blue Sky Standard";
  font-style: normal;
  font-weight: 420;
  font-size: 25px;
  line-height: 25px;
  color: #ffffff;
}
.action {
  position: absolute;
  bottom: 10px;
  z-index: 1;
  font-family: "Blue Sky Standard";
  font-style: normal;
  font-weight: 420;
  font-size: 25px;
  line-height: 25px;
  color: #ffffff;
}

.imageWrapperTop {
  position: relative;
  display: flex;
  justify-content: center;
  p {
    position: absolute;
    top: 10px;
    font-family: "Blue Sky Standard", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: #ffffff;
  }
}

.imageWrapperTop p {
  position: absolute;
  top: 10px;
  font-family: "Blue Sky Standard", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  color: #ffffff;
}
.imageWrapperBottom {
  position: relative;
  display: flex;
  justify-content: center;
  p {
    position: absolute;
    bottom: 10px;
    font-family: "Blue Sky Standard", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: #ffffff;
  }
}

.galleryImage {
  display: flex !important;
  justify-content: center;
}
.gallarySlider {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  gap: 30px;
}
.gallarySlider p {
  font-family: "Blue Sky Standard", sans-serif;
  font-style: normal;
  font-weight: 420;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}
.gallarySlider .slider {
  display: flex;
  align-items: center;
  flex: auto;
  position: relative;
}
.gallarySlider .slider input {
  width: 100%;
  -webkit-appearance: none;
  outline: none;
  height: 1px;
  background-color: #000000;
}

.gallarySlider .slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 31px;
  height: 31px;
  cursor: pointer;
  position: relative;
  opacity: 0%;
  z-index: 3;
}

.gallarySlider .slider .sliderThumb {
  width: 31px;
  height: 31px;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.createBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createBtn button {
  background: #000000;
  border: 1px solid #000000;
  padding: 14px 50px;
  font-family: "Blue Sky Standard", sans-serif;
  font-style: normal;
  font-weight: 420;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  cursor: pointer;
}
